# Virtual environment
venv/
env/
__pycache__/
*.pyc

# Flask instance folder (contains config, DB, secrets)
instance/

# SQLite database
*.db
*.sqlite3

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

#jetbrains
.idea
